$green: #007f85;
$blue: #0093ee;
$darkBlue: #007cc9;
$whiteBlue: #6fc8ff;
$text: #2B3032;
$link: #35393a;
$black: #181818;
$lightBlack: #343434;
$lightGray: #eceff1;
$lightGray-dark: #d4d5d6;
$orange: #fcd387;



%r-300{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
%r-400{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
%r-500{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
%r-700{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
%r-900{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

%m-300{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
%m-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
%m-500{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
%m-600{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
%m-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}